<%- include('../partials/header') %>
<body>
  <h1 class="locationTitle"><%= title%></h1>

  <ul>
    <% location.forEach(l => { %>
    <h1 class="name">➯<%= l.name %></h1>
    <% if (l.image) { %>
    <img class="img" src="<%= l.image %>" width="200px" height="200px" />
    <% } else { %>
    <img src="https://i.imgur.com/XncXzZL.jpg" width="250px" height="180px" />
    <% } %>
    <li><%= l.address %></li>
    <li><%= l.phone %></li>
    <li>
      <a class="details" href="/locations/<%= l._id %>">Details</a>
    </li>
    <li>
      <a class="siteLink" href="<%= l.website%>" target="_blank"
        >Visit Their Site!</a
      >
    </li>

    <% }); %>
  </ul>
  <a class="addLocation" href="/locations/new">Add A New Location</a>
</body>
<%- include('../partials/footer') %>
